.slider.btn{
  margin-top:100px;
}
.section-search input{
  padding:5px!important;
  font: 18px !important;
  width:90%!important;
  border:#f4f4f4 3px solid !important;
  
}

.autocomplete-content{
  position:absolute !important;
  width:100% !important;
  text-align: center !important;
}
.section-follow .fa-2x {
  margin:5px 10px !important;
}
h6{
  margin-bottom:30px;
  text-align: center;

}

  

